# AssetsLoader  module configuration
#
# @copyright	More in license.md
# @license		http://www.michalseidler.com
# @author		Michal Seidler http://www.michalseidler.com
# @package		Saja:nette-project:assets-loader
# @subpackage	Configuration
# @since		5.0
#
# @date			14.10.15
#

#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#

# Nette extension class
extension: Saja\AssetsLoader\DI\AssetsLoaderExtension

autoload: {
	psr-0: {
		Saja\AssetsLoader: src/
	}
}